<header class="header">
  <div class="header__left">
    <div class="burger__menu">
      <mat-icon color="warn">menu</mat-icon>
    </div>
    <div class="header__logo">
      <p class="logo__title">TILE.EXPERT</p>
      <img class="logo__arrow" src="../../assets/arrow.png" title="Arrow" alt="red-arrow">
    </div>
    <div [ngClass]="{'hide' : opened, 'header__navigation' : !opened}">
      <app-navigation></app-navigation>
    </div>
    <div class="header__search" clickOutside (clickOutside)="opened = false; openedDwopdown = false">
      <div class="search__wrapper" *ngIf="opened">
        <input class="search__input" name="search" type="text" placeholder="Search" (focus)="openedDwopdown = true">
        <span class="close__input" (click)="opened = false"><img src="../../assets/close-search.png"></span>
        <button type="button" id="button__search">НАЙТИ</button>
      </div>
      <img src="../../assets/search.png" title="Search" alt="search-icon" (click)="opened = true"
        [ngClass]="{'hide' : opened, 'search__icon' : !opened}">
      <img class="add__icon" src="../../assets/add.png" title="Add" alt="add-icon">
      <div class="search__dropdown" *ngIf="openedDwopdown">
        <app-input-dropdown></app-input-dropdown>
      </div>
    </div>
  </div>
  <app-profile></app-profile>
</header>
