@font-face {
  font-family: "Esqadero FF CY4 F";
  src: url("../../assets/Esqadero\ FF\ CY\ 4F\ Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

.header {
  @include flexCenter();
  justify-content: space-between;
  width: 100%;
  height: 56px;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.25));
  background-color: #4876c3;
  padding: 0 20px;
}

.header__left {
  display: flex;
  height: 56px;
}

/* LOGO */

.header__logo {
  cursor: pointer;
}

.logo__title {
  padding-top: 13px;
  font-size: 26px;
  color: #ffffff;
  font-family: "Esqadero FF CY4 F";
}

.logo__title:first-letter {
  color: #db4437;
}

.logo__arrow {
  position: relative;
  left: 93%;
  top: 20%;
  bottom: 7px;
}

/* NAV */

.header__navigation {
  width: 700px;
  @include flexCenter();
  margin-left: 80px;
}

.navigation__button {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
  text-align: right;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  margin-left: 8px;
}

/* SEARCH */

.header__search {
  @include flexCenter();
  width: 120px;
}

.search__icon {
  cursor: pointer;
  margin: 0 15px 0 25px;
}

.add__icon {
  cursor: pointer;
  margin: 0 15px;
}

.search__input {
  margin-left: 85px;
  width: 669px;
  height: 40px;
  border-radius: 2px 0 0 2px;
  border: 0;
  left: 18%;
  background-image: url('../../assets/serach__input.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
  text-indent: 30px;
  padding-left: 10px;
}

.search__input:focus,
.search__input:active {
  outline: none;
}

.close__input {
  @include flexCenter();
  width: 20px;
  height: 40px;
  background: #ffffff;
  cursor: pointer;
}

#button__search {
  width: 70px;
  height: 40px;
  border-radius: 0 2px 2px 0;
  background-color: #ffc120;
  border: 0;
  font-size: 13px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  cursor: pointer;
}

#button__search:active,
#button__search:focus {
  outline: none;
}



/* PROFILE */

.header__profile {
  @include flexCenter();
}

.mail__icon {
  margin: 0 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notification__icon {
  margin: 0 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notification__quantity {
  position: relative;
  right: 26px;
  bottom: 9px;
  width: 13px;
  height: 13px;
  border-radius: 1px;
  filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.37));
  background-color: #b71826;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}

.profile__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.search__wrapper {
  display: flex
}

.hide {
  display: none;
}


.search__dropdown {
  position: absolute;
  top: 53px;
  left: 299px;
  width: 420px;
  height: 165px;
  filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
  background-color: #ffffff;
  padding: 18px 22px;
}

.dropdown__first__section {
  @include flexCenter();
  justify-content: space-between;
}

.checkbox__input {
  font-size: 12px;
  line-height: 40px;
  color: #212121;
  font-weight: 400;
  font-family: "Roboto";
}

.input__author {
  width: 313px;
  height: 37px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #c4ced5;
  text-indent: 10px;
}

.dropdown__second__section {
  @include flexCenter();
}

.sort {
  font-size: 12px;
  line-height: 40px;
  color: #212121;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 25px;
}

.dropdown__third__section {
  @include flexCenter();
  padding-bottom: 5px;
}

.picker {
  margin-right: 31px;
}

.burger__menu {
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .header__navigation {
    margin-left: 40px;
    width: 500px;
  }

  .navigation__button {
    font-size: 14px;
  }

  .logo__title {
    font-size: 19px;
  }

  .logo__title {
    padding-top: 16px;
  }

  .triangle {
    margin-left: 2px;
    border-width: 4px 3px 0 3px;
  }

  .search__dropdown {
    left: 207px;
  }

  .search__input {
    margin-left: 45px;
    width: 469px;
  }

  .search__icon {
    margin: 0 10px 0 30px;
  }

  .mail__icon {
    margin: 0 13px;
  }

  .notification__icon {
    margin: 0 13px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 119px;
    flex-direction: column;
  }

  .header__left {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header__navigation {
    display: none;
  }

  .add__icon {
    display: none;
  }

  .header__search {
    width: auto;
  }

  .burger__menu {
    display: block;
  }

  .mail__icon {
    margin: 0 200px 0 13px;
  }

  .profile__avatar {
    margin-left: 200px;
  }

  .header__profile {
    padding-bottom: 12px;
  }

  .mat-icon.mat-warn {
    color: #ffffff;
  }

  .header__logo {
    margin-right: 65%;
  }

  .search__wrapper {
    position: absolute;
    left: 0;
    width: 95%;
    margin: 0 2.5%;
  }

  .search__input {
    width: 100%;
    margin-left: 0;
  }

  .search__dropdown {
    z-index: 99;
    width: 95%;
    left: 0;
    margin: 0 2.5%;
  }

  .input__author {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    margin-right: 58%;
    padding-left: 15px;
  }
}

@media screen and (max-width: 425px) {

  .header {
    padding: 0 15px;
  }

  .header__logo {
    margin-right: 130px;
  }

  .search__dropdown {
    height: 253px;
  }

  .dropdown__third__section {
    flex-direction: column;
    align-items: flex-start;
  }

  .input__author {
    width: 280px;
  }

  .search__input {
    width: 95%;
    margin-left: 0;
  }

  .mail__icon {
    margin: 0 100px 0 13px;
  }

  .profile__avatar {
    margin-left: 100px;
  }
}

@media screen and (max-width: 380px) {
  .header__logo {
    margin-right: 113px;
  }
}
